aiohttp
amcrest
asyncio-mqtt
backoff
coloredlogs
flvlib3@https://github.com/zkonge/flvlib3/archive/master.zip
hikvisionapi>=0.3.2
semver
packaging
pyunifiprotect @ git+https://github.com/bdraco/pyunifiprotect@master
reolinkapi
websockets>=9.0.1
xmltodict
